.container.animated.mainContent
  .row
    .col.s12
      .card.white
        .card-content
          %span.card-title Compare Courses
          .row
            .col.s6.m4
              .input-field
                %input.autocomplete#course-search{placeholder: "Search for Course", type: "text"} 
            .col.s6.m4
              .input-field
                %input.autocomplete#professor-search{placeholder: "Search for Professor (optional)", type: "text"} 
            .pad-top.col.s6.m2
              %input.btn.blue.waves-effect.waves-light#addCourse{type: "button", value: "Add Class"}
      .card.white.large
        .card-content.scrollable
          .progress.blue#data-loader{:style=>"display:none;"}
            .indeterminate
          %table.centered.highlight
            %thead
              %tr
                %th{"data-field": "name"} Course
                %th{"data-field": "title"} Units
                %th{"data-field": "professor"} Professor
                %th{"data-field": "professor_rating_overall"} Avg. Professor Rating (Overall)
                %th{"data-field": "professor_rating_course"} Avg. Professor Rating (This Course) 
                %th{"data-field": "Action"} Delete
            %tbody#selected-courses
= javascript_include_tag '/javascripts/courses_compare.js'

