.container.animated.mainContent
  .row
    .col.s12
      .card.white
        .card-content
          %h3 Our Purpose
          %p 
            Many course scheduling websites rank classes based on difficulty and other factors that do not accurately represent the professor’s teaching skill. The purpose of this application is for UC Berkeley students to choose classes taught by the most worthwhile professors. These professors have awards such as the Distinguished Teaching Award or other department specific awards. We truly believe that taking classes from these professors will make your college experience more rewarding.
          %h3 Who We Are
          %p{:style => 'padding-bottom:24px;'}We're a group of Computer Science students dedicated to creating a system to help undergraduate and graduate students navigate through the best professors and courses at UC Berkeley. This is a class project for UC Berkeley CS169 Software Engineering created for David Patterson.