.container
  .row
    .col.s12
      .card.white.animated.fadeInUp
        .card-content
          %span.card-title Courses You Want to Take
          %table.centered
            %thead
              %tr
                %th{"data-field": "name"} Course
                %th{"data-field": "title"} Title
            %tbody
              - @user.courses.each do |course|
                - if not course[:taken]
                  %tr
                    %td= link_to course[:number], course_path(course[:id])
                    %td= course[:title]
        .card-action
          %a.btn.blue.waves-effect.waves-light#edit{href: "/edit"} Edit
  .row
    .col.s12
      .card.white.animated.fadeInUp
        .card-content
          %span.card-title Your Completed Courses
          %table.centered
            %thead
              %tr
                %th{"data-field": "name"} Course
                %th{"data-field": "title"} Title
            %tbody
              - @user.courses.each do |course|
                - if course[:taken]
                  %tr
                    %td= link_to course[:number], course_path(course[:id])
                    %td= course[:title]
        .card-action
          %a.btn.blue.waves-effect.waves-light#edit{href: "/edit"} Edit
