.container
  .row
    .col.s12
      .card.white.animated.fadeInUp
        .card-content
          %span.card-title Your Classes
          %table.centered
            %thead
              %tr
                %th{"data-fied": "name"} Course
                %th{"data-field": "title"} Title
            %tbody
              - @user_courses.each do |course|
                %tr
                  %td= course.number
                  %td= course.title
        .card-action
          %a.btn.blue.waves-effect.waves-light#edit{href: "/edit"} Edit
