.container
  .row
    .col.s12
      .card.white
        .card-content
          %span.card-title="Prerequisites for #{@course.number}"
          %table.centered
            %thead
              %tr
                %th{"data-fied": "name"} Course
                %th{"data-field": "title"} Title
            %tbody
              - @prereqs.each do |prereq|
                %tr
                  %td= link_to prereq[:number], "/classes/#{prereq[:id]}"
                  %td= prereq[:title]
        .card-action
          %a{href: "/classes"} Back