!!! 5
%html
  %head
    %title Great Course Guide
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"}

  %body.grey.lighten-3
    %header
      .navbar-fixed
        %nav.blue.darken-4
          .nav-wrapper.container
            %a.brand-logo{href: "/welcome"} Great Course Guide
            %ul#nav-mobile.right.hide-on-med-and-down
              %li
                %a{href: "/classes"} Classes
              %li
                %a{href: "/professors"} Professors
              %li
                %a{href: "/logout"} Logout
    %main
      = yield
