!!! 5
%html
  %head
    %title Great Course Guide
    = stylesheet_link_tag '/stylesheets/materialize'
    = stylesheet_link_tag '/stylesheets/animate.min'
    = javascript_include_tag '/javascripts/jquery'
    = csrf_meta_tags
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"}

  %body.blue.darken-4
    %main.container.center-align.vertical-align#full-size
      .row.screen-center.animated.fadeIn
        .col.s12
          %h1.white-text Great Course Guide
      .row.screen-center.animated.bounceInUp
        .col.s12
          %a.waves-effect.waves-light.btn-large.blue#login-button{href: "/login"} Login
