!!! 5
%html
  %head
    %title Great Course Guide
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"}

  %body.blue.darken-4
    %main.container
      %h1.white-text.center-align Great Course Guide
        